.container {
  margin-top: 50px;
  padding: 20px;
  background-color: var(--whitesmoke);
  border-radius: 10px;
}

.container h2 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    background-color: transparent;
    padding: 0px;
    margin-top: 0px;
  }
}
